<div style="display: flex; margin: 5px auto; justify-content: center">
  <div style="width: 70px; text-align: right"><%= grade.name %></div>
  <%= form_for(grade, remote: true, authenticity_token: true) do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :enrollment_id %>
    <%= f.number_field :value, step: 0.1, min: 0, max: 10, style: 'width: 30px; margin: 0 5px; text-align: center', onchange: 'this.form.submit()', disabled: !editable %>
  <% end %>
</div>