<%= form_for(evaluation) do |f| %>
  <%= render 'components/form/error_notification', object: evaluation %>

  <fieldset>
    <legend><h3>Nhận Xét Quá Trình</h3></legend>

    <%= f.text_area :content, size: '115x10' %>
    <%= f.hidden_field :evaluable_type %>
    <%= f.hidden_field :evaluable_id %>

    <%= f.submit "Cập Nhật", :class =>"button" %>
  </fieldset>

<% end %>
