<h1><%= heading %></h1>

<%= form_for(object) do |f| %>
  <%= render 'components/form/error_notification', object: object %>

  <% (object.class::FIELD_SETS || []).each do |set| %>
    <fieldset>
      <% if set[:legend] %>
        <legend><h3><%= set[:legend] %></h3></legend>
      <% end %>
      <% set[:fields].each do |field| %>
        <%= render 'components/form/input_field',
                   f: f,
                   field_type: field[:field_type] || :text_field,
                   field: field[:field],
                   label: field[:label],
                   opts: field[:opts] || {}
        %>
      <% end %>
    </fieldset>
    <%= render 'components/divider' %>
  <% end %>
  <fieldset style="display: grid; grid-template-columns: repeat(2, 1fr)">
    <%= f.submit "Cập Nhật", :class => "button" %>
<% end %>
    <%= button_to 'Xóa', object, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button button-caution" if @current_user.admin? %>
  </fieldset>
<%= render 'components/divider' %>