<%= render 'components/collapsible', heading: heading, always_open: true do %>
  <%= form_for(object) do |f| %>
    <%= render 'components/form/error_notification', object: object %>
    <% (object.class::FIELD_SETS || []).each do |set| %>
      <fieldset>
        <% if set[:legend] %>
          <legend><h3><%= set[:legend] %></h3></legend>
        <% end %>
        <% set[:fields].each do |data| %>
          <%
            data[:opts] ||= {}
            data[:opts][:disabled] = !editable
          %>
          <%= render 'components/form/input_field', f: f, object: object, data: data %>
        <% end %>
      </fieldset>
      <div class="divider"></div>
    <% end %>
    <% if editable %>
      <fieldset>
    <% end %>
    <%= f.submit "Cập Nhật", :class => "button" if editable %>
  <% end %>
  <%= render 'components/button_delete', object: object if editable %>
  <% if editable %>
    </fieldset>
  <% end %>
<% end %>