<h1><%= heading %></h1>

<%= form_for(object) do |f| %>
  <%= render 'components/form/error_notification', object: object %>

  <% (object.class::FIELD_SETS || []).each do |set| %>
    <fieldset>
      <% if set[:legend] %>
        <legend><h3><%= set[:legend] %></h3></legend>
      <% end %>
      <% set[:fields].each do |field| %>
        <%= render 'components/form/input_field',
                   f: f,
                   field_type: field[:field_type] || :text_field,
                   field: field[:field],
                   label: field[:label],
                   opts: field[:opts] || {}
        %>
      <% end %>
    </fieldset>
    <div class="divider"></div>
  <% end %>
  <fieldset style="display: flex; justify-content: space-between">
    <div style="display: inline-block">
      <%= button_to  'Quay Lại', :back, method: :get, :class => "button" %>
    </div>
    <div style="display: inline-block">
      <%= f.submit "Cập Nhật", :class => "button"%>
    </div>
    <div style="display: inline-block">
      <%= button_to 'Xóa', object, method: :delete, data: { confirm: 'Xóa hết thông tin và Hành Trình Thiêng Liêng của giáo lý viên? Nên cập nhật thông tin thay vì xóa. Are you sure?' }, :class => "button button-caution" %>
    </div>
  </fieldset>
  <div class="divider"></div>
<% end %>