<% classroom = guidance.classroom %>
<div class="e-card">
  <div class="e-info_grid_cell">
    <% if editable %>
      <%= button_to guidance_url(guidance), class: 'tr-icon red-hover', method: :delete do %>
        <i class='fa fa-delete-left'></i>
      <% end %>
    <% end %>
    <div class="e-classroom_year"><%= classroom.long_year %></div>
    <%= render 'components/button', button: { label: classroom.name, path: classroom_path(classroom) } %>
    <div class="e-classroom_year"><%= classroom.location %></div>
    <%= render 'components/form/inline_select', object: guidance, field: :position, enabled: editable %>
  </div>

  <div class="e-eval_grid_cell" style="display: grid; align-content: center;  grid-template-columns: repeat(<%= Enrollment::RESULT_OPTIONS.count + 1 %>, 1fr)">
    <div>
      <div style="background: bisque; border: 1px solid; border-radius: 5px 5px 0 0; margin: 5px 5px 0; padding: 2px 5px">Tổng Số</div>
      <div style="border: 1px solid; border-top: none; border-radius: 0 0 5px 5px; margin: 0 5px 5px; padding: 2px 5px"><%= guidance.classroom.enrollments.count %></div>
    </div>
    <% Enrollment::RESULT_OPTIONS.each do |result| %>
      <div>
        <div style="background: bisque; border: 1px solid; border-radius: 5px 5px 0 0; margin: 5px 5px 0; padding: 2px 5px"><%= result %></div>
        <div style="border: 1px solid; border-top: none; border-radius: 0 0 5px 5px; margin: 0 5px 5px; padding: 2px 5px"><%= Enrollment.where(classroom: guidance.classroom).where(result: result).count %></div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function showTextArea(id) {
    document.getElementById(`edit-icon-${id}`).style.display = "none";
    document.getElementById(`eval-content-${id}`).style.display = "none";
    document.getElementById(`save-icon-${id}`).style.display = "";
    document.getElementById(`eval-textarea-${id}`).style.display = "";
  }
</script>