<%= form_for(@guidance) do |f| %>
  <%= render 'components/form/error_notification', object: @guidance %>

  <fieldset>
    <div style="display: inline-block">
      <div class="label">GLV:</div>
      <%= @guidance.teacher.name %>
    </div>

    <div style="display: inline-block">
      <div class="label">Lớp:</div>
      <%= @guidance.classroom.name %>
    </div>

    <div style="display: inline-block">
      <div class="label">Phụ Trách:</div>
      <%= f.select :position, options_for_select(Guidance::POSITION_OPTIONS, @guidance.position) %>
    </div>
  </fieldset>

  <%= render 'components/divider' %>

  <fieldset style="display: grid; grid-template-columns: repeat(3, 1fr)">
    <%= f.submit "Cập Nhật", :class => "button"%>
    <%= button_to 'Xóa', @guidance, method: :delete, data: { confirm: 'Are you sure?'}, class: "button button-caution" if @current_user&.admin? %>
  </fieldset>
<% end %>
