<% years = Classroom.uniq.order(year: :desc).pluck(:year) %>
<% opts = Classroom.where(year: years[0]).sort_by(&:sort_param).map { |c| [c.name, c.id] } %>

<h1>Hành Trình Thiêng Liêng</h1>

<table>
  <thead>
  <tr>
    <th style='width: 100px'>Năm Học</th>
    <th style='width: 100px'>Tên Lớp</th>
    <th style='width: 100px'>Phụ Trách</th>
    <th style='width: 200px'>Vị Trí</th>
  </tr>
  </thead>

  <tbody>
  <% (@teacher&.classrooms || []).each do |classroom| %>
    <% guidance = @teacher.guidances.select { |guidance| guidance.classroom_id == classroom.id }.first %>
    <% default_location = "Vô Gia Cư"; default_location = classroom.location if classroom.location? %>
    <% default_position = "---"; default_position = guidance.position if guidance.position? %>
    <tr class="table-row">
      <td style='width: 200px'><%= classroom.long_year %></td>
      <td style='width: 200px'><%= link_to classroom.name, classroom %></td>
      <td style='width: 200px'><%= link_to default_position, guidance %></td>
      <td style='width: 200px'><%= default_location %></td>
    </tr>
  <% end %>

  <tr id="form" class="table-row" style="display: none">
    <% guidance = Guidance.new %>
    <%= form_for(guidance) do |f| %>
      <%= render 'components/form/error_notification', object: guidance %>

      <%= f.hidden_field :teacher_id, :value => @teacher.id %>
      <td style='width: 200px'>
        <select id="year_combobox" onchange="changeClassroom()">
          <% years.each do |year| %>
            <option value="<%=year%>"><%= year.to_s + " - " + (year.to_i+1).to_s %></option>
          <% end %>
        </select>
      </td>
      <td style='width: 200px'>
        <%= f.select :classroom_id, options_for_select(opts), :id => 'classroom_id' %>
      </td>
      <td style='width: 200px'>
        <%= f.select :position, options_for_select(Guidance::POSITION_OPTIONS), :style => "width: 98px"%>
      </td>
      <td style='width: 200px'>
        <%= f.submit "Thêm Lớp Mới" %>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>
<%= render 'components/divider' %>

<% if @current_user&.admin? %>
  <button id="btn" onClick="showForm()" class="button">Thêm Lớp Mới</button>
<% end %>

<script>
  function showForm() {
    document.getElementById("btn").style.display = "none";
    document.getElementById("form").style.display = "";
  }

  function changeClassroom() {
    const e = document.getElementById("year_combobox");
    const selected = e.options[e.selectedIndex].value;

    //Create array of options to be added
    const hash = {};
    const keys = [];

    <% Classroom.all.sort_by(&:sort_param).each do |classroom| %>
    if(selected === "<%= classroom.year %>") {
      hash[<%= classroom.id %>] = "<%= classroom.name %>";
      keys.push(<%= classroom.id %>);
    }
    <% end %>

    const list = document.getElementById("guidance_classroom_id");
    list.options.length = 0;

    //Create and append the options
    for (let i = 0; i < keys.length; i++) {
      const option = document.createElement("option");
      option.value = keys[i];
      option.text = hash[keys[i]];
      list.appendChild(option);
    }

  }
</script>