<table  id="form" style="display: none">
  <thead>
  <tr>
    <th style='width: 100px'>Năm Học</th>
    <th style='width: 100px'>Tên Lớp</th>
    <th style='width: 100px'>Phụ Trách</th>
    <th style='width: 200px'></th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-row">
    <% guidance = Guidance.new %>
    <%= form_for(guidance) do |f| %>
      <%= render 'components/form/error_notification', object: guidance %>

      <% years = Classroom.order(year: :desc).distinct.pluck(:year) %>
      <% opts = Classroom.where(year: years[0]).sort_by(&:sort_param).map { |c| [c.name, c.id] } %>

      <%= f.hidden_field :teacher_id, :value => teacher.id %>
      <td style='width: 200px'>
        <select id="year_combobox" onchange="changeClassroom()" style="width: 100%">
          <% years.each do |year| %>
            <option value="<%=year%>"><%= year.to_s + " - " + (year.to_i+1).to_s %></option>
          <% end %>
        </select>
      </td>
      <td style='width: 200px'><%= f.select :classroom_id, options_for_select(opts), {}, {id: 'classroom_select', style: 'width: 100%'} %></td>
      <td style='width: 200px'><%= f.select :position, options_for_select(ResourceType.for_key('guidance_position').pluck(:value)), {}, {style: 'width: 100%'} %></td>
      <td style='width: 200px'><%= f.submit "Thêm Lớp Mới" %></td>
    <% end %>
  </tr>
  </tbody>
</table>

<% if @current_user&.admin? %>
  <button id="btn" onClick="showForm()" class="button">Thêm Lớp Mới</button>
<% end %>

<script>
  function showForm() {
    document.getElementById("btn").style.display = "none";
    document.getElementById("form").style.display = "";
  }

  function changeClassroom() {
    const e = document.getElementById("year_combobox");
    const selected = e.options[e.selectedIndex].value;

    //Create array of options to be added
    const hash = {};
    const keys = [];

    <% Classroom.all.sort_by(&:sort_param).each do |classroom| %>
    if(selected === "<%= classroom.year %>") {
      hash[<%= classroom.id %>] = "<%= classroom.name %>";
      keys.push(<%= classroom.id %>);
    }
    <% end %>

    const list = document.getElementById("classroom_select");
    console.log(list)
    list.options.length = 0;

    //Create and append the options
    for (let i = 0; i < keys.length; i++) {
      const option = document.createElement("option");
      option.value = keys[i];
      option.text = hash[keys[i]];
      list.appendChild(option);
    }
  }
</script>