<p>
  <strong>Position:</strong>
  <%= @guidance.position %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @guidance.teacher_id %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @guidance.classroom_id %>
</p>

<% if @current_user&.admin? %>
  <%= button_to 'Cập Nhật', edit_guidance_path(@guidance), method: :get, class: "button" %>
<% end %>
<%= button_to 'Quay Lại', :back, method: :get, class: "button" %>