<%= form_for(@classroom) do |f| %>
  <%= render 'components/form/error_notification', object: @classroom %>

  <fieldset>
    <div>
      <div class="label">Khối:</div>
      <%= f.text_field :family %>
    </div>

    <div>
      <div class="label">Lớp:</div>
      <%= f.text_field :level %>
    </div>

    <div>
      <div class="label">Nhóm:</div>
      <%= f.text_field :group %>
    </div>

      <div>
        <div class="label">Năm Học:</div>
        <% if @classroom.year %>
          <strong><%= @classroom.long_year %></strong>
        <% else %>
          <%= f.number_field :year %>
        <% end %>
      </div>


    <div>
      <div class="label">Vị Trí Lớp:</div>
      <%= f.text_field :location %>
    </div>
  </fieldset>
  
  <%= f.submit "Cập Nhật", :class => "button" %>
<% end %>

