<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <div>
      <div class="label">Khối:</div>
      <%= f.text_field :family %>
    </div>

    <div>
      <div class="label">Lớp:</div>
      <%= f.text_field :level %>
    </div>

    <div>
      <div class="label">Nhóm:</div>
      <%= f.text_field :group %>
    </div>

      <div>
        <div class="label">Năm Học:</div>
        <% if @classroom.year %>
          <strong><%= @classroom.long_year %></strong>
        <% else %>
          <%= f.number_field :year %>
        <% end %>
      </div>


    <div>
      <div class="label">Vị Trí Lớp:</div>
      <%= f.text_field :location %>
    </div>
  </fieldset>
  
  <%= f.submit "Cập Nhật", :class => "button" %>
<% end %>

