<%
  actions = [
    { label: 'In Bảng Thống Kê', path: classrooms_path(format: :pdf), params: { year: @current_year } },
    { label: 'In Bảng Tự Tạo', path: classrooms_custom_export_path },
  ]
%>

<%= render 'components/collapsible',
           heading: "Thống Kê Số Lượng Thiếu Nhi Năm Học #{@current_year_long}",
           always_open: true do %>
  <h4>Số Lượng các lớp: <%= @classrooms.count %></h4>

  <table>
    <thead>
      <tr>
        <th style="width: 50px">STT</th>
        <th style='width: 100px'>Tên Lớp</th>
        <th style='width: 100px'>Vị Trí</th>
        <th style='width:  94px'>Tổng Số</th>
        <% Enrollment::RESULT_OPTIONS.each do |result| %>
          <th style='width:  94px'><%= result %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @classrooms.each do |classroom| %>
        <tr class="table-row">
          <td style='width: 50px'><%= @classrooms.index(classroom) + 1 %></td>
          <td style='width: 100px'><%= link_to classroom.name, classroom %></td>
          <td style='width: 100px'><%= classroom.location %></td>
          <td style='width:  94px'><%= classroom.enrollments.count %></td>
          <% Enrollment::RESULT_OPTIONS.each do |result| %>
            <td style='width:  94px'><%= classroom.enrollments.where(result: result).count %></td>
          <% end %>
        </tr>
      <% end %>
      <tr class="table-row">
        <td style='width: 50px'></td>
        <td style='width: 100px'>Tổng Số</td>
        <td style='width: 100px'></td>
        <td style='width:  94px'><%= @classrooms.inject(0) { |sum, classroom| sum + classroom.enrollments.count } %></td>
        <% Enrollment::RESULT_OPTIONS.each do |result| %>
          <td style='width:  94px'><%= Enrollment.where(classroom: @classrooms).where(result: result).count %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>

<%= render 'components/button_group', heading: 'In Ấn', actions: actions %>