<h1>Thông Tin Lớp</h1>

<fieldset>
  <div>
    <div class="label">Năm Học:</div>
    <strong><%= @classroom.long_year %></strong>
  </div>

  <div>
    <div class="label">Tên Lớp:</div>
    <strong><%= @classroom.name %></strong>
  </div>
   
  <div>
    <div class="label">Vị Trí Lớp:</div>
    <strong><%= @classroom.location %></strong>
  </div>
</fieldset>

<% if @current_user&.admin? %>
<%= button_to 'Chỉnh Sửa', edit_classroom_path(@classroom), method: :get, :class =>"button" %>
<% end %>

<div class="divider"></div>
<h1>Giáo Lý Viên</h1>

<%= render 'teachers/info_table' %>
<div class="divider"></div>

<h1>Danh Sách Thiếu Nhi</h1>
<h4>Số Lượng : <%= @enrollments.count %></h4>

<%= render 'students/info_table' %>

<%= button_to "In PDF Danh Sách Lớp",
              classroom_path(format: :pdf),
              method: :get,
              class: :button
%>
<%= button_to "Xuất Excel Danh Sách Lớp",
              classroom_path(format: :xlsx),
              method: :get,
              class: :button
%>
<%= button_to "In Danh Sách Lớp Dán Bảng",
              classroom_path(format: :pdf),
              method: :get,
              class: :button,
              params: { style: :compact }
%>
<%= button_to "In Số Điện Thoại GLV",
              classroom_path(format: :pdf),
              method: :get,
              class: :button,
              params: { style: :teachers_contact }
%>
<%= button_to "In Bảng Tự Tạo",
              classroom_custom_export_path(@classroom),
              method: :get,
              class: :button
%>
<%= button_to "In Sơ Yếu Lý Lịch Lớp",
              classroom_students_personal_details_path(@classroom, format: :pdf),
              method: :get,
              class: :button
%>