<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :christian_name %><br>
    <%= f.text_field :christian_name %>
  </div>
  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :date_birth %><br>
    <%= f.date_select :date_birth %>
  </div>
  <div class="field">
    <%= f.label :place_birth %><br>
    <%= f.text_field :place_birth %>
  </div>
  <div class="field">
    <%= f.label :date_baptism %><br>
    <%= f.date_select :date_baptism %>
  </div>
  <div class="field">
    <%= f.label :place_baptism %><br>
    <%= f.text_field :place_baptism %>
  </div>
  <div class="field">
    <%= f.label :date_communion %><br>
    <%= f.date_select :date_communion %>
  </div>
  <div class="field">
    <%= f.label :place_communion %><br>
    <%= f.text_field :place_communion %>
  </div>
  <div class="field">
    <%= f.label :date_confirmation %><br>
    <%= f.date_select :date_confirmation %>
  </div>
  <div class="field">
    <%= f.label :place_confirmation %><br>
    <%= f.text_field :place_confirmation %>
  </div>
  <div class="field">
    <%= f.label :date_declaration %><br>
    <%= f.date_select :date_declaration %>
  </div>
  <div class="field">
    <%= f.label :place_declaration %><br>
    <%= f.text_field :place_declaration %>
  </div>
  <div class="field">
    <%= f.label :street_number %><br>
    <%= f.text_field :street_number %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :ward %><br>
    <%= f.text_field :ward %>
  </div>
  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :father_christian_name %><br>
    <%= f.text_field :father_christian_name %>
  </div>
  <div class="field">
    <%= f.label :father_full_name %><br>
    <%= f.text_field :father_full_name %>
  </div>
  <div class="field">
    <%= f.label :father_phone %><br>
    <%= f.text_field :father_phone %>
  </div>
  <div class="field">
    <%= f.label :mother_christian_name %><br>
    <%= f.text_field :mother_christian_name %>
  </div>
  <div class="field">
    <%= f.label :mother_full_name %><br>
    <%= f.text_field :mother_full_name %>
  </div>
  <div class="field">
    <%= f.label :mother_phone %><br>
    <%= f.text_field :mother_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
