<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Christian name</th>
      <th>Full name</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Date birth</th>
      <th>Place birth</th>
      <th>Date baptism</th>
      <th>Place baptism</th>
      <th>Date communion</th>
      <th>Place communion</th>
      <th>Date comfirmation</th>
      <th>Place confirmation</th>
      <th>Date declaration</th>
      <th>Place declaration</th>
      <th>Street number</th>
      <th>Street name</th>
      <th>Ward</th>
      <th>District</th>
      <th>Home phone</th>
      <th>Area</th>
      <th>Father christian name</th>
      <th>Father full name</th>
      <th>Father phone</th>
      <th>Mother christian name</th>
      <th>Mother full name</th>
      <th>Mother phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.christian_name %></td>
        <td><%= student.full_name %></td>
        <td><%= student.gender %></td>
        <td><%= student.phone %></td>
        <td><%= student.date_birth %></td>
        <td><%= student.place_birth %></td>
        <td><%= student.date_baptism %></td>
        <td><%= student.place_baptism %></td>
        <td><%= student.date_communion %></td>
        <td><%= student.place_communion %></td>
        <td><%= student.date_confirmation %></td>
        <td><%= student.place_confirmation %></td>
        <td><%= student.date_declaration %></td>
        <td><%= student.place_declaration %></td>
        <td><%= student.street_number %></td>
        <td><%= student.street_name %></td>
        <td><%= student.ward %></td>
        <td><%= student.district %></td>
        <td><%= student.home_phone %></td>
        <td><%= student.area %></td>
        <td><%= student.father_christian_name %></td>
        <td><%= student.father_full_name %></td>
        <td><%= student.father_phone %></td>
        <td><%= student.mother_christian_name %></td>
        <td><%= student.mother_full_name %></td>
        <td><%= student.mother_phone %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>