<p id="notice"><%= notice %></p>


<h1>Danh Sách Thiếu Nhi Năm Học <%= @current_year.to_s + " - " + (@current_year+1).to_s %></h1>
<h4>Số Lượng : <%= @students.count %></h4>


<% @arrays.each do |arr| %>
  <% if !arr.empty? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style='width: 230px'>Tên Thánh - Họ và Tên</th>
          <th style='width:  80px'>Ngày Sinh</th>
          <th style='width: 340px'>Địa Chỉ</th>
          <th style='width:  80px'>ĐT Cha</th>
          <th style='width:  80px'>ĐT Mẹ</th>
          <th style='width:  73px'>Lớp</th>
          <th style='width:  73px'>Kết Quả</th>
        </tr>
      </thead>
    
      <tbody>
        <% arr.each do |student| %>
            <% cell = student.cells.where(year: @current_year).take %>
            <tr class = table-row>
            <td style='width: 230px'><div class ='btn-link'><%= link_to student.name, student %></div></td>
            <td style='width:  80px'><%= student.date_birth.strftime("%d-%m-%Y") %></td>
            <td style='width: 340px'><%= student.address %></td>
            <td style='width:  80px'><%= student.father_phone %></td>
            <td style='width:  80px'><%= student.mother_phone %></td>
            <td style='width:  73px'><%= link_to cell.name, cell %></td>
            <td style='width:  73px'><%= student.result(cell) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="text-align: right; padding-bottom: 10px; font-size: 11px">Số Lượng: <%= arr.count %></div>
  <% end %>
<% end %>