<% heading = @student.id ? @student.name : 'Tạo Thiếu Nhi' %>

<h1><%= heading %></h1>
<%= render 'components/form/form',
           heading: 'Thông Tin Thiếu Nhi',
           object: @student,
           editable: @current_user.admin_or_teacher_of_student?(@student, @current_year)
%>
<%= render 'enrollments/index', enrollments: @student.enrollments %>
<%=
  if @student.id
    actions = [
      { label: 'In Sơ Yếu Lý Lịch', path: student_path(format: "pdf") }
    ]
    render 'components/button_group', heading: 'In Ấn', actions: actions
  end
%>

<% if @current_user.username == 'ldt' && @student.person&.id %>
  <%= render 'components/button_group', heading: 'Person', actions: [{ label: 'Person', path: person_path(@student.person) }] %>
<% end %>