<p>
  <strong>Position:</strong>
  <%= @instruction.position %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @instruction.teacher_id %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @instruction.cell_id %>
</p>

<%= button_to 'Cập Nhật', edit_instruction_path(@instruction), method: :get, class: "button" %>
<%= button_to 'Quay Lại', :back, method: :get, class: "button" %>