<%= form_for(user) do |f| %>
  <%= render 'components/form/error_notification', object: user %>

  <fieldset>
    <div>
      <div class="label">Tên Đăng Nhập:</div>
      <%= f.text_field :username %>
    </div>

    <div>
      <div class="label">Mật Khẩu:</div>
      <%= f.text_field :password %>
    </div>

    <div>
      <div class="label">Nhập Lại Mật Khẩu:</div>
      <%= f.text_field :password_confirmation %>
    </div>

    <% if @current_user&.admin? %>
      <div>
        <div class="label">ID của GLV:</div>
        <%= f.text_field :teacher_id %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Cập Nhật", :class => "button" %>
<% end %>
