<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div>
      <div class="label">Tên Đăng Nhập:</div>
      <%= f.text_field :username %>
    </div>

    <div>
      <div class="label">Mật Khẩu:</div>
      <%= f.text_field :password %>
    </div>

    <div>
      <div class="label">Nhập Lại Mật Khẩu:</div>
      <%= f.text_field :password_confirmation %>
    </div>

    <% if @current_user&.admin? %>
      <div>
        <div class="label">ID của GLV:</div>
        <%= f.text_field :teacher_id %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Cập Nhật", :class => "button" %>
<% end %>
