<% if @teacher %>
  <%= render 'teachers/teacher_detail' %>
  <%= render 'guidances/index' %>
<% end %>

<% if @current_user.admin? %>
  <h1>Chức năng Admin</h1>
  <fieldset style="display: grid; grid-template-columns: repeat(3, 1fr)">
    <%= button_to "Tạo Lớp Học Mới", new_classroom_path, method: :get, :class => "button" %>
    <%= button_to "Tạo Thiếu Nhi Mới", new_student_path, method: :get, :class => "button" %>
    <%= button_to "Tạo Giáo Lý Viên Mới", new_teacher_path, method: :get, :class => "button" %>
  </fieldset>
  <%= render 'components/divider' %>
<% end %>

<%= render 'components/form/form', object: @user, heading: 'Thông tin đăng nhập' %>
<%= button_to 'Đăng Xuất', '/logout', method: :get, class: 'button' %>