<%
  actions = [
    { label: 'Tạo Lớp Học Mới', path: new_classroom_path },
    { label: 'Tạo Thiếu Nhi Mới', path: new_student_path },
    { label: 'Tạo Giáo Lý Viên Mới', path: new_teacher_path },
  ]
%>

<% if @teacher %>
  <%= render 'components/form/form',
             heading: 'Thông Tin Giáo Lý Viên',
             object: @teacher,
             editable: @current_user.admin_or_self_teacher?(@teacher)
  %>
  <%= render 'guidances/index' %>
<% end %>

<% if @current_user.admin? %>
  <h1>Chức năng Admin</h1>
  <%= render 'components/button_group', actions: actions %>
<% end %>

<%= render 'components/form/form',
           heading: 'Thông tin đăng nhập',
           object: @user,
           editable: @current_user.admin_or_self?(@user)
%>
<%= render 'components/button', button: { label: 'Đăng Xuất', path: '/logout' } %>