<div class="e-card">
  <div class="e-info_grid_cell">
    <%= render 'components/icon_delete', path: enrollment_url(enrollment), enabled: editable %>
    <div class="e-classroom_year"><%= enrollment.classroom.long_year %></div>
    <div style="margin-top: 15px">
      <%= render 'components/button', button: { label: enrollment.classroom.name, path: classroom_path(enrollment.classroom) } %>
      <%= render 'components/form/inline_select', object: enrollment, field: :result, enabled: editable %>
    </div>
  </div>

  <div class="e-info_grid_cell">
    <div class="e-classroom_year">Nhận xét của giáo lý viên</div>
    <% evaluation = enrollment.evaluation || Evaluation.new(evaluable: enrollment) %>
    <%= form_for(evaluation) do |f| %>
      <%= f.hidden_field :evaluable_id %>
      <%= f.hidden_field :evaluable_type %>
      <%= f.text_area :content, id: "eval-textarea-#{enrollment.id}", class: "e-eval_textarea", rows: 5, disabled: !editable, onblur: 'this.form.submit()' %>
    <% end %>
  </div>
  <div class="e-info_grid_cell">
    <div class="e-classroom_year">Điểm số</div>
    <div style="display: grid; grid-template-columns: 1fr 1fr">
      <%= render 'grades/detail', grade: enrollment.grades.where(name: 'Giữa HK 1').first_or_initialize, editable: editable %>
      <%= render 'grades/detail', grade: enrollment.grades.where(name: 'Cuối HK 1').first_or_initialize, editable: editable %>
      <%= render 'grades/detail', grade: enrollment.grades.where(name: 'Giữa HK 2').first_or_initialize, editable: editable %>
      <%= render 'grades/detail', grade: enrollment.grades.where(name: 'Cuối HK 2').first_or_initialize, editable: editable %>
      <%= render 'grades/detail', grade: Grade.new(name: 'TB Năm', value: enrollment.average_grade), editable: false %>
      <%= render 'attendances/details', enrollment: enrollment %>
    </div>
  </div>
</div>

<script>
  function showTextArea(id) {
    document.getElementById(`edit-icon-${id}`).style.display = "none";
    document.getElementById(`eval-content-${id}`).style.display = "none";
    document.getElementById(`save-icon-${id}`).style.display = "";
    document.getElementById(`eval-textarea-${id}`).style.display = "";
  }

  function showGradeInput(id) {
    document.getElementById(`grade--edit-icon-${id}`).style.display = "none";
    document.getElementById(`grade--div-${id}`).style.display = "none";
    document.getElementById(`grade--save-icon-${id}`).style.display = "";
    document.getElementById(`grade--input-${id}`).style.display = "none";
  }
</script>