<div class="e-card">
  <div class="e-info_grid_cell">
    <%= render 'components/icon_delete', path: enrollment_url(enrollment), enabled: editable %>
    <div class="e-classroom_year"><%= enrollment.classroom.long_year %></div>
    <%= render 'components/button', button: { label: enrollment.classroom.name, path: classroom_path(enrollment.classroom) } %>
    <%= render 'components/form/inline_select', object: enrollment, field: :result, enabled: editable %>
  </div>

  <div class="e-info_grid_cell">
    <div class="e-classroom_year">Nhận xét của giáo lý viên</div>
    <% if editable %>
      <div id='edit-icon-<%= enrollment.id %>' class="tr icon fill-hover" onclick="showTextArea(<%= enrollment.id %>)"><i class="fa fa-edit"></i></div>
    <% end %>

    <% evaluation = enrollment.evaluation || Evaluation.new(evaluable: enrollment) %>
    <%= form_for(evaluation) do |f| %>
      <button id='save-icon-<%= enrollment.id %>' style="display: none" class="tr icon fill-hover"><i class="fa fa-save"></i></button>
      <div id="eval-content-<%= enrollment.id %>" class="quote-block"><%= evaluation&.content %></div>
      <%= f.hidden_field :evaluable_id %>
      <%= f.hidden_field :evaluable_type %>
      <%= f.text_area :content, id: "eval-textarea-#{enrollment.id}", class: "e-eval_textarea", style: 'display: none', rows: 4 %>
    <% end %>
  </div>
  <div class="e-info_grid_cell">
    <div class="e-classroom_year">Điểm số</div>
    <div style="display: grid; justify-content: center">
      <%= render 'grades/detail', grade: enrollment.grades.where(name: "Học Kỳ 1").first_or_initialize, editable: editable %>
      <%= render 'grades/detail', grade: enrollment.grades.where(name: "Học Kỳ 2").first_or_initialize, editable: editable %>
    </div>
  </div>
</div>

<script>
  function showTextArea(id) {
    document.getElementById(`edit-icon-${id}`).style.display = "none";
    document.getElementById(`eval-content-${id}`).style.display = "none";
    document.getElementById(`save-icon-${id}`).style.display = "";
    document.getElementById(`eval-textarea-${id}`).style.display = "";
  }

  function showGradeInput(id) {
    document.getElementById(`grade--edit-icon-${id}`).style.display = "none";
    document.getElementById(`grade--div-${id}`).style.display = "none";
    document.getElementById(`grade--save-icon-${id}`).style.display = "";
    document.getElementById(`grade--input-${id}`).style.display = "none";
  }
</script>