<%= form_for(@enrollment) do |f| %>
  <%= render 'components/form/error_notification', object: @enrollment %>

  <fieldset>
    <legend><h3>Cập Nhật Kết Quả</h3></legend>

    <div style="display: inline-block">
      <div class="label">Thiếu Nhi:</div>
      <%= @enrollment.student.name %>
    </div>

    <div style="display: inline-block">
      <div class="label">Lớp:</div>
      <%= @enrollment.classroom.name %>
    </div>

    <div style="display: inline-block">
      <div class="label">Kết Quả:</div>
      <%= f.select :result, options_for_select(Enrollment::RESULT_OPTIONS, @enrollment.result) %>
    </div>
  </fieldset>

  <%= render 'components/divider' %>

  <fieldset style="display: grid; grid-template-columns: repeat(3, 1fr)">
    <%= f.submit "Cập Nhật", :class => "button"%>
    <%= button_to 'Xóa', @enrollment, method: :delete, data: { confirm: 'Are you sure?'}, class: "button button-caution" if @current_user&.admin? %>
  </fieldset>
  <%= render 'components/divider' %>
<% end %>
