<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><h3>Cập Nhật Kết Quả</h3></legend>

    <div>
      <div class="label">Thiếu Nhi:</div>
      <%= @enrollment.student.name %>
    </div>

    <div>
      <div class="label">Lớp:</div>
      <%= @enrollment.classroom.name %>
    </div>

    <div>
      <div class="label">Kết Quả:</div>
      <%= f.select :result, options_for_select(Enrollment::RESULT_OPTIONS, @enrollment.result) %>
    </div>

    <%= f.submit "Cập Nhật", :class =>"button" %>
  </fieldset>

<% end %>
