<p>
  <strong>Result:</strong>
  <%= @enrollment.result %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student_id %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @enrollment.classroom_id %>
</p>
<% if @current_user&.admin_or_teacher_of_enrollment?(@enrollment) %>
  <%= button_to 'Cập Nhật', edit_enrollment_path(@enrollment), method: :get, class: "button" %>
<% end %>
<%= button_to 'Quay Lại', :back, method: :get, class: "button" %>
