<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div>
      <div class="label">Tên Thánh:</div>
      <%= f.text_field :christian_name %>
    </div>
  
    <div>
      <div class="label">Họ và Tên:</div>
      <%= f.text_field :full_name %>
    </div>

    <div>
      <div class="label">Ngày Sinh:</div>
      <%= f.date_select :date_birth, {
        start_year: Date.today.year - 80,
        end_year: Date.today.year,
        use_two_digit_numbers: true,
        order: [:day, :month, :year],
        with_css_classes: true,
        prompt: { :day => "Ngày", :month => "Tháng", :year => "Năm" }
      }%>
    </div>
    
    <div>
      <div class="label">Bổn Mạng:</div>
      <%= f.text_field :named_date %>
    </div>
    
<!--    <div>-->
<!--      <div class="label">Nghề Nghiệp:</div>-->
      <%#= f.text_field :occupation %>
<!--    </div>-->
    
    <div>
      <div class="label">Số Điện Thoại:</div>
      <%= f.text_field :phone %>
    </div>
    
    <div>
      <div class="label">Email:</div>
      <%= f.text_field :email %>
    </div>
    
    <div></div>
    
    <div>
      <div class="label">Số Nhà:</div>
      <%= f.text_field :street_number %>
    </div>
    
    <div>
      <div class="label">Đường:</div>
      <%= f.text_field :street_name %>
    </div>
    
    <div>
      <div class="label">Phường/Xã:</div>
      <%= f.text_field :ward %>
    </div>
    
    <div>
      <div class="label">Quận/Huyện:</div>
      <%= f.text_field :district %>
    </div>
  </fieldset>
  <%= f.submit "Cập Nhật", :class => "button"%>
<% end %>
