<% classrooms = @teacher&.classrooms || [] %>
<% years = Classroom.uniq.order(year: :desc).pluck(:year) %>
<% opts = Classroom.where(year: years[0]).sort_by(&:sort_param).map { |c| [c.name, c.id] } %>

<h1>Hành Trình Thiêng Liêng</h1>

<table>
  <thead>
  <tr>
    <th style='width: 100px'>Năm Học</th>
    <th style='width: 100px'>Tên Lớp</th>
    <th style='width: 100px'>Phụ Trách</th>
    <th style='width: 200px'>Vị Trí</th>
  </tr>
  </thead>

  <tbody>
  <% classrooms.each do |classroom| %>
    <% guidance = @teacher.guidances.select { |guidance| guidance.classroom_id == classroom.id }.first %>
    <% default_location = "Vô Gia Cư"; default_location = classroom.location if classroom.location? %>
    <% default_position = "_"; default_position = guidance.position if guidance.position? %>
    <tr class="table-row">
      <td style='width: 200px'><%= classroom.long_year %></td>
      <td style='width: 200px'><%= link_to classroom.name, classroom %></td>
      <td style='width: 200px'><%= link_to default_position, edit_guidance_path(guidance.id) %></td>
      <td style='width: 200px'><%= default_location %></td>
    </tr>
  <% end %>

  <tr class="table-row">
    <td id="form" style="font-size: 14px; display: none" colspan="4">
      <% @guidance = Guidance.new %>
      <%= form_for(@guidance) do |f| %>
        <% if @guidance.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@guidance.errors.count, "error") %> prohibited this guidance from being saved:</h2>

            <ul>
              <% @guidance.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :teacher_id, :value => @teacher.id %>
        <select id="year_combobox" onchange="changeClassroom()">
          <% years.each do |year| %>
            <option value="<%=year%>"><%= year.to_s + " - " + (year.to_i+1).to_s %></option>
          <% end %>
        </select>
        <%= f.select :classroom_id, options_for_select(opts), :id => 'classroom_id' %>
        <%= f.select :position, options_for_select(["Tu Sĩ", "GLV", "Tiền GLV", "Phụ Tá", "Kiến Tập"]), :style => "width: 98px"%>
        <%= f.submit "Thêm Lớp Mới" %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<button id="btn" onClick="showForm()" class="button">Thêm Lớp Mới</button>

<script>
  function showForm() {
    document.getElementById("btn").style.display = "none";
    document.getElementById("form").style.display = "table-cell";
  }

  function changeClassroom() {
    const e = document.getElementById("year_combobox");
    const selected = e.options[e.selectedIndex].value;

    //Create array of options to be added
    const hash = {};
    const keys = [];

    <% Classroom.all.sort_by(&:sort_param).each do |classroom| %>
    if(selected === "<%= classroom.year %>") {
      hash[<%= classroom.id %>] = "<%= classroom.name %>";
      keys.push(<%= classroom.id %>);
    }
    <% end %>

    const list = document.getElementById("guidance_classroom_id");
    list.options.length = 0;

    //Create and append the options
    for (let i = 0; i < keys.length; i++) {
      const option = document.createElement("option");
      option.value = keys[i];
      option.text = hash[keys[i]];
      list.appendChild(option);
    }

  }
</script>