<p id="notice"><%= notice %></p>

<h1>Danh Sách Giáo Lý Viên Năm Học <%= @current_year.to_s + " - " + (@current_year+1).to_s %></h1>
<h4>Số Lượng : <%= @teachers.count %></h4>

<div style="witdh : 100%; text-align: right">
  <%= link_to "In Danh Sách GLV", teachers_path(format: "pdf") %>
</div>

<table>
  <thead>
    <tr>
      <th style='width:  30px'>STT</th>
      <th style='width:  80px'>Lớp</th>
      <th style='width:  80px'>Phụ Trách</th>
      <th style='width: 280px'>Tên Thánh - Họ và Tên</th>
      <th style='width:  80px'>Ngày Sinh</th>
      <th style='width: 130px'>Bổn Mạng</th>
      <th style='width: 220px'>Email</th>
      <th style='width:  90px'>Điện Thoại</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
    <% instruction = teacher.instructions.select { |ins| Cell.find(ins.cell_id).year == @current_year }.first %>
      <tr class="table-row">
        <td style='width:  30px'><%= @teachers.index(teacher)+1 %></td> 
        <td style='width:  80px'><%= link_to Cell.find(instruction.cell_id).name, Cell.find(instruction.cell_id) %></td> 
        <td style='width:  80px'><%= link_to instruction.position, edit_instruction_path(instruction) %></td>
        <td style='width: 280px'><%= link_to teacher.name, teacher %></td>
        <td style='width:  80px'><%= teacher.date_birth.strftime("%d-%m-%Y") %></td>
        <td style='width: 130px'><%= teacher.named_date %></td>
        <td style='width: 220px'><%= teacher.email %></td>
        <td style='width:  90px'><%= teacher.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

