<%
  heading = @teacher.id ? @teacher.name : 'Tạo Giáo Lý Viên'
  admin_actions = [
    { label: 'Tạo Lớp Học', path: new_classroom_path },
    { label: 'Tạo Thiếu Nhi', path: new_student_path },
    { label: 'Tạo Giáo Lý Viên', path: new_teacher_path },
  ]
%>

<h1><%= heading %></h1>
<%= render 'components/form/form',
           heading: 'Thông Tin Giáo Lý Viên',
           object: @teacher,
           editable: @current_user.admin_or_self_teacher?(@teacher)
%>
<%= render 'guidances/index', guidances: @teacher.guidances, teacher: @teacher %>
<% user = @teacher.user %>
<% user = User.new(teacher: @teacher) if !user && @current_user.admin? %>
<%= render 'components/form/form',
           heading: 'Thông tin đăng nhập',
           object: user,
           editable: @current_user.admin_or_self_teacher?(@teacher) if user
%>

<% if @current_user.admin? && @current_user.self_teacher?(@teacher) %>
  <%= render 'components/button_group', heading: 'Chức năng Admin', actions: admin_actions %>
<% end %>

<% if @current_user.username == 'ldt' && @teacher.person&.id %>
  <%= render 'components/button_group', heading: 'Person', actions: [{ label: 'Person', path: person_path(@teacher.person) }] %>
<% end %>