<%= render 'components/collapsible', heading: "In Bảng Tự Tạo - #{title}", always_open: true do %>
  <%= form_tag path, method: :post do %>
    <fieldset>
      <div>
        <div class="label">Tiêu Đề:</div>
        <%= text_field_tag :title, nil, class: 'form-input', required: true %>
      </div>

      <div>
        <div class="label">Các Cột:</div>
        <%= text_field_tag :columns, nil, class: 'form-input', required: true, placeholder: 'cột 1,cột 2,cột 3,...' %>
      </div>

      <div>
        <div class="label">Chiều Giấy:</div>
        <%= radio_button_tag :page_layout, :landscape, true, width: '10px' %>
        <%= label_tag :page_layout_landscape, 'Khổ Ngang' %>
        <%= radio_button_tag :page_layout, :portrait %>
        <%= label_tag :page_layout_portrait, 'Khổ Dọc' %>
      </div>
    </fieldset>
    <%= submit_tag "Tạo", :class => :button %>
  <% end %>
<% end %>