<h1>Thông Tin Lớp</h1>

<p style="margin:10px"></p>
  
<fieldset>    
  <div class="block">
    <div class="label">Năm Học:</div>
    <strong><%= @cell.long_year %></strong>
  </div>

  <div class="block">
    <div class="label">Tên Lớp:</div>
    <strong><%= @cell.name %></strong>
  </div>
   
  <div class="block">
    <div class="label">Vị Trí Lớp:</div>
    <strong><%= @cell.location %></strong>  
  </div>
</fieldset>  
<%= link_to 'Chỉnh Sửa', edit_cell_path(@cell), :class =>"button" %>

<p style="margin: 30px"></p>
<h1>Giáo Lý Viên</h1>

<table>
  <thead>
    <tr>
      <th style='width: 200px'>Tên Thánh - Họ và Tên</th>
      <th style='width:  80px'>Ngày Sinh</th>
      <th style='width: 130px'>Nghề Nghiệp</th>
      <th style='width: 310px'>Địa Chỉ</th>
      <th style='width:  80px'>Điện Thoại</th>
      <th style='width:  80px'>Lớp</th>
      <th style='width:  80px'>Phụ Trách</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr class="table-row">
        <td style='width: 200px'><%= link_to teacher.name, teacher %></td>
        <td style='width:  80px'><%= teacher.date_birth.strftime("%d-%m-%Y") %></td>
        <td style='width: 130px'><%= teacher.occupation %></td>
        <td style='width: 310px'><%= teacher.address %></td>
        <td style='width:  80px'><%= teacher.phone %></td>
        <td style='width:  80px'><%= @cell.name %></td> 
        <td style='width:  80px'><%= @cell.instructions.where(teacher_id: teacher.id).first.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p style="margin: 30px"></p>

<h1>Danh Sách Thiếu Nhi</h1>

<h4>Số Lượng : <%= @attendances.count %></h4>

<div style="width: 100%; text-align: right">
  <%= link_to "Số điện thoại GLV", cell_path(@cell)+"/summary" %>
</div>
<div style="width: 100%; text-align: right">
  <%= link_to "In Danh Sách Lớp", cell_path(format: "pdf") %>
</div>
</div>
<div style="width: 100%; text-align: right">
  <%= link_to "In Danh Sách Lớp (Excel)", cell_path(format: "xlsx") %>
</div>
<div style="width: 100%; text-align: right">
  <%= link_to "In Danh Sách Điểm Danh", cell_path(@cell)+"/attendance_check.pdf" %>
</div>
<div style="width: 100%; text-align: right">
  <%= link_to "In Thông Tin Liên Lạc", cell_path(@cell)+"/contact_details.xlsx" %>
</div>

<%= render 'students/info_table' %>