<h1>Thông Tin Lớp</h1>

<fieldset>
  <div>
    <div class="label">Năm Học:</div>
    <strong><%= @cell.long_year %></strong>
  </div>

  <div>
    <div class="label">Tên Lớp:</div>
    <strong><%= @cell.name %></strong>
  </div>
   
  <div>
    <div class="label">Vị Trí Lớp:</div>
    <strong><%= @cell.location %></strong>  
  </div>
</fieldset>  
<%= button_to 'Chỉnh Sửa', edit_cell_path(@cell), method: :get, :class =>"button" %>

<div class="divider"></div>
<h1>Giáo Lý Viên</h1>

<%= render 'teachers/info_table' %>
<div class="divider"></div>

<h1>Danh Sách Thiếu Nhi</h1>
<h4>Số Lượng : <%= @attendances.count %></h4>

<%= render 'students/info_table' %>

<%= button_to "In Danh Sách Lớp",
              cell_path(format: :pdf),
              method: :get,
              class: :button
%>
<%= button_to "In Danh Sách Lớp (Excel)",
              cell_path(format: :xlsx),
              method: :get,
              class: :button
%>
<%= button_to "In Danh Sách Lớp Dán Bảng",
              cell_path(format: :pdf),
              method: :get,
              class: :button,
              params: { style: :compact }
%>
<%= button_to "In Số Điện Thoại GLV",
              cell_path(format: :pdf),
              method: :get,
              class: :button,
              params: { style: :teachers_contact }
%>
<%= button_to "In Bảng Tự Tạo",
              cell_custom_export_path(@cell),
              method: :get,
              class: :button
%>
<%= button_to "In Sơ Yếu Lý Lịch Lớp",
              cell_students_personal_details_path(@cell, format: :pdf),
              method: :get,
              class: :button
%>