<p>
  <strong>Result:</strong>
  <%= @attendance.result %>
</p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student_id %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @attendance.cell_id %>
</p>

<%= button_to 'Cập Nhật', edit_attendance_path(@attendance), method: :get, class: "button" %>
<%= button_to 'Quay Lại', :back, method: :get, class: "button" %>
